[user]
	email = jason@jasonsturges.com
	name = Jason Sturges
[core]
	excludesfile = /Users/jasonsturges/.gitignore-global
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
